/* client/src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-link-pro {
  @apply block py-2 px-4 rounded-lg text-white font-medium hover:bg-blue-700 transition-colors duration-200;
}

/* O código padrão que já existia no arquivo pode continuar aqui */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}